<h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>

<div class="box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
        <span class="icon is-small is-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="form_icon">
            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path fill="grey" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
          </svg>
        </span>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password (leave blank if you don't want to change it)" %>
        <span class="icon is-small is-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="form_icon">
            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path fill="grey" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
          </svg>
        </span>
      <% if @minimum_password_length %>
        <em class="help has-text-danger"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Password confirmation" %>
        <span class="icon is-small is-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="form_icon">
            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path fill="grey" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input", placeholder: "Current password (we need your current password to confirm your changes)" %>
        <span class="icon is-small is-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="form_icon">
            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path fill="grey" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
        </span>
      </div>
    </div>

    <div class="field actions">
      <div class="control">
        <%= f.submit "Update", class: "button is-link" %>
      </div>
    </div>
  <% end %>
</div>

<div class="is-flex is-justify-content-space-between">
  <h3 class="subtitle">Unhappy?</h3>

  <div class="buttons is-grouped">
    <%= button_to "Cancel my account",
      registration_path(resource_name),
      data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
      method: :delete,
      class: "button is-danger"
    %>
    <%= link_to "Back", :back, class: "button is-link" %>
  </div>
</div>
