<h2 class="title">Sign up</h2>

<div class="box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
        <span class="icon is-small is-left">
          <%= icon('fa-solid', 'envelope') %>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password" %>
        <span class="icon is-small is-left">
          <%= icon('fa-solid', 'lock') %>
        </span>
      </div>
      <% if @minimum_password_length %>
        <em class="help has-text-danger">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Password confirmation" %>
        <span class="icon is-small is-left">
          <%= icon('fa-solid', 'lock') %>
        </span>
      </div>
    </div>

    <div class="field actions">
      <div class="control">
        <%= f.submit "Sign up", class: "button is-link" %>
      </div>
    </div>
  <% end %>
</div>