<h2 class="title">Log in</h2>

<div class="box">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
        <span class="icon is-small is-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="form_icon">
            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path fill="grey" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
          </svg>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Password" %>
        <span class="icon is-small is-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="form_icon">
            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path fill="grey" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
          </svg>
        </span>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <div class="control">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="field actions">
      <div class="control">
        <%= f.submit "Log in", class: "button is-link" %>
      </div>
    </div>
  <% end %>
</div>

<div class="buttons is-grouped">
  <%= render "devise/shared/links" %>
</div>
