<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= turbo_frame_tag post do %>
    <div class='field columns p-5'>
      <div class='control column is-8'>
        <%= form.text_field :text, class: 'input is-link' %>
      </div>
      <div class='control column is-2'>
        <%= form.submit class: 'button is-link is-small is-light is-outlined',
          data: {
            controller: "stimulus",
            action: "stimulus#closeAllModals"
          }
        %>
      </div>
      <div class='control column is-2'>
        <%= link_to "Cancel",
          posts_path,
          class: 'button is-danger is-light is-small is-outlined',
          data: {
            controller: "stimulus",
            action: "stimulus#closeAllModals"
          }
        %>
      </div>
    </div>
  <% end %>
<% end %>
