<tr id="post_<%= post.id %>" is='turbo-frame'>
  <th><%= post.text %></th>
  <td>
    <%= link_to "Edit post",
      edit_post_path(post),
      data: { 
        turbo_frame: "update_post",
        controller: "modals",
        action: "modals#update_post"
      },
      class: 'button is-small is-light is-link is-outlined is-hidden-touch'
    %>
    <%= link_to icon('fa-solid', 'pen', class: 'has-text-cyan'),
      edit_post_path(post),
      data: { 
        turbo_frame: "update_post",
        controller: "modals",
        action: "modals#update_post"
      },
      class: 'is-hidden-desktop'
    %>
  </td>
  <td>
    <%= link_to 'Delete post',
      post, data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'
      },
      class: 'button is-small is-light is-danger is-outlined is-hidden-touch'
    %>
    <%= link_to icon('fa-solid', 'trash', class: 'has-text-danger'),
      post, data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'
      },
      class: 'is-hidden-desktop'
    %>
  </td>
</tr>
