<p style="color: green"><%= notice %></p>
<div class='p-5 columns is-justify-content-space-evenly'>
  <div class='column is-narrow'>
    <h1 class='title'>Posts</h1>

    <%= link_to "New post",
      new_post_path,
      data: { 
        turbo_frame: "new_post",
        controller: "modals",
        action: "modals#new"
      },
      class: 'button is-link is-small is-light p-2'
    %>

  </div>
  <div class='column is-half'>
    <%= turbo_frame_tag "posts" do %>
      <%= render @posts %>
    <% end %>
  </div>
</div>

<%# Create bulma modal %>

<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <h2>Create new post</h2>
      <%= turbo_frame_tag 'new_post' %>
    </div>
  </div>

  <%= link_to "Cancel", nil, class: "modal-close is-small is-light is-danger" %>
</div>
