<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="<%= image_path "EAO.png"  %>" width="90" height="45">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarPost" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to "Edit user", edit_user_registration_path, class: "button is-link is-outlined" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "button is-danger is-outlined" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button is-link is-outlined" %>
            <%= link_to "Log in", new_user_session_path, class: "button is-info is-outlined" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
