<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="<%= image_path "EAO.png"  %>" width="90" height="45">
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navMenu"
      data-controller="menu"
      data-action="menu#burger"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item is-hidden-touch">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to "Edit user", edit_user_registration_path, class: "button is-link is-outlined" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "button is-danger is-outlined" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button is-link is-outlined" %>
            <%= link_to "Log in", new_user_session_path, class: "button is-info is-outlined" %>
          <% end %>
        </div>
      </div>
      <div class="navbar-items is-hidden-desktop px-4">
          <% if user_signed_in? %>
            <%= link_to "Edit user", edit_user_registration_path, class: "navbar-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-item" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "navbar-item" %>
            <%= link_to "Log in", new_user_session_path, class: "navbar-item" %>
          <% end %>
      </div>
    </div>
  </div>
</nav>
